@model SWProject.Models.DomainModel.File_DataFiles

@{
    ViewBag.Title = "جزییات فایل متنی";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-box-large box-with-header" style="text-align:right;min-height:525px;">
    <div class="content-box-header">
        <div class="panel-title" style="direction:rtl;text-align:right;float:right;">@ViewBag.Title</div>
    </div>
    <div class="content-box-large">
        <div class="panel-body">

            <fieldset>
                <div class="title" style="font-size:18px;">
                    @Html.DisplayNameFor(model => model.Caption)
                </div>
                <div class="form-control">
                    @Html.DisplayFor(model => model.Caption, new { @class = "text-right" })
                </div>
                <div class="title" style="font-size:18px;">
                    @Html.DisplayNameFor(model => model.User.Name)
                </div>
                <div class="form-control">
                    @Html.DisplayFor(model => model.User.Name, new { @class = "text-right" })
                </div>
                <div class="title" style="font-size:18px;">
                    @Html.DisplayNameFor(model => model.TimeStamp)
                </div>
                <div class="form-control">
                    @Html.DisplayFor(model => model.TimeStamp, new { @class = "text-right" })
                </div>
                <div class="title" style="font-size:18px;">
                    @Html.DisplayNameFor(model => model.Keywords)
                </div>
                <div class="form-control">
                    @Html.DisplayFor(model => model.Keywords, new { @class = "text-right" })
                </div>
                <div class="title" style="font-size:18px;">
                    @Html.DisplayNameFor(model => model.Description)
                </div>
                <div class="form-control">
                    @Html.DisplayFor(model => model.Description, new { @class = "text-right" })
                </div>
                <div>
                    <a href="@Url.Action("Books","Admin")" class="btn btn-default"><i class="glyphicon glyphicon-arrow-right"></i>&nbsp; بازگشت &nbsp;</a>
                </div>
            </fieldset>
        </div>
    </div>
</div>

