@model IEnumerable<SWProject.Models.DomainModel.User>

@{
    ViewBag.Title = "حذف کاربر";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-box-large box-with-header" style="text-align:right;min-height:525px;">
    <div class="content-box-header">
        <div class="panel-title" style="direction:rtl;text-align:right;float:right;">@ViewBag.Title</div>
    </div>
    <div class="content-box-large">
        <div class="panel-body">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" style="text-align:center;">
                <thead>
                    <tr class="odd gradeX">
                        <th class="center">ردیف</th>
                        <th class="center">نام کاربری</th>
                        <th class="center">سطح دسترسی</th>
                        <th class="center">عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;
                    }
                    @foreach (var item in Model)
                    {
                        <tr class="odd gradeX" id="@item.Id">
                            <td class="center">@Convert.ToString(i++)</td>
                            <td class="center">@item.UserName</td>
                            @{if (item.Grade == 0)
                                {
                                    <td class="center">کاربر عادی</td>
                                }
                                else
                                          if (item.Grade == 1)
                                {
                                    <td class="center">ادمین عادی</td>
                                }
                                else
                                        if (item.Grade == 2)
                                {
                                    <td class="center">ادمین اصلی</td>
                                }
                            }
                            <td class="center">
                                <a class="btn btn-danger" gid="@item.Id.ToString()"><i class="glyphicon glyphicon-remove"></i>&nbsp; حذف &nbsp;</a>
                            </td>
                        </tr>
                                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="btn-group" style="bottom: 0;">
        <a href="@Url.Action("Users","Admin")" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i>&nbsp; لیست &nbsp;</a>
        <a href="@Url.Action("DeleteUser","Admin")" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>&nbsp; حذف &nbsp;</a>
        @*<a href="@Url.Action("EditUser","Admin")" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i>&nbsp; ویرایش &nbsp;</a>*@
        <a href="@Url.Action("AddUser","Admin")" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>&nbsp; اضافه &nbsp;</a>
    </div>
</div>

@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(function ()
        {
            $("div.panel-body > table > tbody > tr").click(function (e)
            {
                if ($("#bodyParent").hasClass("col-md-12")) {
                    $("#bodyParent").removeClass("col-md-12");
                    $("#bodyParent").addClass("col-md-6");
                    $.ajax(
                        {
                            url: "@Url.Action("UserDetails", "Admin")",
                        success: function (html)
                        {
                            $("#bodyrow").append(html);
                        },
                    error: function () { alert("error"); }
                });
            } else if ($("#bodyParent").hasClass("col-md-6")) {
                    $("#bodyParent").removeClass("col-md-6");
            $("#bodyParent").addClass("col-md-12");
            $("#userinfo").remove();
        }
        });

            $(".btn-danger").click(function (e)
            {
                e.preventDefault();
                var gid = $(this).attr("gid");
                swal({
                    title: "هشدار",
                    text: "آیا برای حذف اطمینان دارید؟",
                    icon: "warning",
                    buttons: ["خیر","بلی"],
                })
               .then((willDelete) => {
                   if (willDelete) {
                       $.ajax(
                           {
                               url: '@Url.Action("SubmitDeleteUser", "Admin")',
                               type: 'post',
                               datatype: 'json',
                               data: {CurrentId: gid},
                               success: function (result)
                               {
                                   if (result.isDone)
                                   {
                                       swal({
                                           title: "پیام",
                                           text: result.Message,
                                           icon: "success",
                                           buttons: ["باشه"],
                                       })
                                       .then((willDelete) => {
                                           window.location.reload();
                                       });
                                   } else
                                   {
                                       swal({
                                           title: "پیام",
                                           text: result.Message,
                                           icon: "danger",
                                           buttons: ["باشه"],
                                       })
                                       .then((willDelete) => {
                                           window.location.reload();
                                       });
                                   }
                               },
                               error: function ()
                               {
                                   alert("error");
                               }
                           });
    }
});
            });
        });
    </script>
}
@section styles
    {
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
}
