@model SWProject.Models.DomainModel.File_DataFiles

@{
    ViewBag.Title = "فرم ویرایش فایل متنی";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("SubmitEditBook", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "editBookform" }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(Model => Model.FileExtention)
    @Html.HiddenFor(Model => Model.FileName)
    @Html.HiddenFor(Model => Model.FilePath)
    @Html.HiddenFor(Model => Model.Id)
    @Html.HiddenFor(Model => Model.Size)
    @Html.HiddenFor(Model => Model.TimeStamp)
    @Html.HiddenFor(Model => Model.UserId)

    <div class="row">
        <div class="col-md-12">
            <div class="content-box-header">
                <div class="panel-title" style="direction:rtl;text-align:right;float:right;">@ViewBag.Title</div>
            </div>
            <div class="content-box-large">
                <div class="panel-body" style="min-height:525px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="content-box-large">
                                <div class="panel-body">
                                    <fieldset>
                                        <div class="form-group">
                                            @Html.LabelFor(Model => Model.Caption)
                                            @Html.TextBoxFor(Model => Model.Caption, new { @class = "form-control", Value = Model.Caption })
                                            @Html.ValidationMessageFor(Model => Model.Caption)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(Model => Model.Keywords)
                                            @Html.TextBoxFor(Model => Model.Keywords, new { @class = "form-control", Value = Model.Keywords })
                                            @Html.ValidationMessageFor(Model => Model.Keywords)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(Model => Model.Description)
                                            @Html.TextAreaFor(Model => Model.Description, new { @class = "form-control", @id = "ckeditor_full", Value = Model.Description })
                                            @Html.ValidationMessageFor(Model => Model.Description)
                                        </div>
                                    </fieldset>
                                    <div>
                                        <input type="submit" class="btn btn-success btn-large" value="ویرایش" id="editbook" style="font-size:18px;min-width:100px;" />
                                        <a href="@Url.Action("Books","Admin")" class="btn btn-default"><i class="glyphicon glyphicon-arrow-right"></i>&nbsp; بازگشت &nbsp;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
                                                }
@section Scripts{
    <script src="@Url.Content("~/Scripts/AjaxForm/jquery.form.min.js")"></script>
    <script src="@Url.Content("~/~/Scripts/jquery.unobtrusive-ajax.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>
<script src="@Url.Content("~/Content/BackTemplate/vendors/ckeditor/ckeditor.js")"></script>
<script src="@Url.Content("~/Content/BackTemplate/vendors/ckeditor/adapters/jquery.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            var ckeditor = CKEDITOR.replace('ckeditor_full');
            CKFinder.setupCKEditor(ckeditor);
    });
    </script>
}

@section styles
    {
    <link href="@Url.Content("~/Scripts/jquery-ui.css")" rel="stylesheet" />
}