@model IEnumerable<SWProject.Models.DomainModel.LocalVariable>

@{
    ViewBag.Title = "ویرایش متغییر ها";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row" style="direction:rtl;">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12" style="direction:rtl;">
                <div class="content-box-large box-with-header" style="text-align:right;min-height:525px;">
                    <div class="content-box-header">
                        <div class="panel-title" style="direction:rtl;text-align:right;float:right;">@ViewBag.Title</div>
                    </div>
                    <div class="content-box-large">
                        <div class="panel-body">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" style="text-align:center;">
                                <thead style="text-align:center;">
                                    <tr class="odd gradeX">
                                        <th class="center">ردیف</th>
                                        <th class="center">عنوان</th>
                                        <th class="center">مقدار</th>
                                        <th class="center">عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int i = 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr class="odd gradeX" id="@item.Id.ToString()">
                                            <td class="center">@Convert.ToString(i++)</td>
                                            <td class="center">@item.Title</td>
                                            <td class="center">@item.Value</td>
                                            <td class="center">
                                                <a href="@Url.Action("EditLocalForm","Admin",new { gid= item.Id})" class="btn btn-warning"><i class="glyphicon glyphicon-edit"></i>&nbsp; ویرایش &nbsp;</a>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="btn-group" style="bottom: 0;">
                        <a href="@Url.Action("Locals","Admin")" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i>&nbsp; لیست &nbsp;</a>
                        <a href="@Url.Action("DeleteLocal","Admin")" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>&nbsp; حذف &nbsp;</a>
                        <a href="@Url.Action("EditLocal","Admin")" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i>&nbsp; ویرایش &nbsp;</a>
                        <a href="@Url.Action("AddLocal","Admin")" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>&nbsp; اضافه &nbsp;</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")"></script>
    <script>
        $(function ()
        {
        });
    </script>
}
@section styles
    {
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
}
