@model SWProject.Models.DomainModel.LocalVariable

@{
    ViewBag.Title = "فرم ویرایش متغییر";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("SubmitEditLocal", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "editLocalform" }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(Model => Model.Id)
    @Html.HiddenFor(Model => Model.ModifiedDate)
    @Html.HiddenFor(Model => Model.CreationDate)
    @Html.HiddenFor(Model => Model.IsNecessary)
    <div class="row">
        <div class="col-md-12">
            <div class="content-box-header">
                <div class="panel-title" style="direction:rtl;text-align:right;float:right;">@ViewBag.Title</div>
            </div>
            <div class="content-box-large">
                <div class="panel-body" style="min-height:525px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="content-box-large">
                                <div class="panel-body">
                                    <fieldset>
                                        <div class="form-group">
                                            @Html.LabelFor(Model => Model.Title)
                                            @Html.TextBoxFor(Model => Model.Title, new { @class = "form-control", Value = Model.Title })
                                            @Html.ValidationMessageFor(Model => Model.Title)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(Model => Model.Value)
                                            @Html.TextAreaFor(Model => Model.Value, new { @class = "form-control", Value = Model.Value })
                                            @Html.ValidationMessageFor(Model => Model.Value)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(Model => Model.Type)
                                            @{
                                                List<SelectListItem> listItems = new List<SelectListItem>();
                                                var selectedindex = Model.Type;
                                                var types = SWProject.Helpers.Admin.Utilities.GetLocals().Select(p => new { p.Type }).Distinct();
                                                foreach (var item in types)
                                                {
                                                    if (item.Type == selectedindex)
                                                    {
                                                        if(item.Type == 0)
                                                        {
                                                            listItems.Add(new SelectListItem
                                                            {
                                                                Selected = true,
                                                                Text = "متغییر درون سایت",
                                                                Value = item.Type.ToString(),
                                                            });
                                                        }
                                                    }
                                                    else
                                                    {
                                                        listItems.Add(new SelectListItem
                                                        {
                                                            Text = "متغییر درون سایت",
                                                            Value = item.Type.ToString(),
                                                        });
                                                    }
                                                }
                                            }
                                            @Html.DropDownListFor(model => model.Type, listItems, "---نوع متغییر را انتخاب کنید---", new { @class = "form-control" })
                                        </div>
                                    </fieldset>
                                    <div>
                                        <input type="submit" class="btn btn-success btn-large" value="ویرایش" id="addcat" style="font-size:18px;min-width:100px;" />
                                        <a href="@Url.Action("Locals","Admin")" class="btn btn-default"><i class="glyphicon glyphicon-arrow-right"></i>&nbsp; بازگشت &nbsp;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
                                                }
@section Scripts{
    <script src="@Url.Content("~/Scripts/AjaxForm/jquery.form.min.js")"></script>
    <script src="@Url.Content("~/~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
    $(function () {
    });
    </script>
}


