@model IEnumerable<SWProject.Models.DomainModel.LocalVariable>

@{
    ViewBag.Title = "متغییر ها";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-box-large box-with-header" style="text-align:right;min-height:525px;">
    <div class="content-box-header">
        <div class="panel-title" style="direction:rtl;text-align:right;float:right;">@ViewBag.Title</div>
    </div>
    <div class="content-box-large">
        <div class="panel-body">
            @if (TempData["SuccessfulLocal"] != null)
            {
                <div class="alert alert-success fadeIn alert-dismissable">
                    <strong>@TempData["SuccessfulLocal"]</strong>
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                </div>
            }
            @if (TempData["notSuccessfulLocal"] != null)
            {
                <div class="alert alert-danger fadeIn alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    <strong>@TempData["notSuccessfulLocal"]</strong>
                </div>
            }
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" style="text-align:center;">
                <thead style="text-align:center;">
                    <tr class="odd gradeX">
                        <th class="center">ردیف</th>
                        <th class="center">عنوان</th>
                        <th class="center">مقدار</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;
                    }
                    @foreach (var item in Model)
                    {
                        <tr class="odd gradeX" id="@item.Id">
                            <td class="center">@Convert.ToString(i++)</td>
                            <td class="center">@item.Title</td>
                            <td class="center">@item.Value</td>
                        </tr>
                                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="btn-group" style="bottom: 0;">
        <a href="@Url.Action("Locals","Admin")" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i>&nbsp; لیست &nbsp;</a>
        <a href="@Url.Action("DeleteLocal","Admin")" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>&nbsp; حذف &nbsp;</a>
        <a href="@Url.Action("EditLocal","Admin")" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i>&nbsp; ویرایش &nbsp;</a>
        <a href="@Url.Action("AddLocal","Admin")" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>&nbsp; اضافه &nbsp;</a>
    </div>
</div>


@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")"></script>
    <script>
        $(function ()
        {
            @*$("div.panel-body > table > tbody > tr").click(function (e)
            {
                if ($("#bodyParent").hasClass("col-md-12")) {
                    $("#bodyParent").removeClass("col-md-12");
                    $("#bodyParent").addClass("col-md-6");
                    $.ajax(
                        {
                            url: "@Url.Action("UserDetails", "Admin")",
                            success: function (html)
                            {
                                $("#bodyrow").append(html);
                            },
                            error: function () { alert("error"); }
                        });
                } else if ($("#bodyParent").hasClass("col-md-6")) {
                    $("#bodyParent").removeClass("col-md-6");
                    $("#bodyParent").addClass("col-md-12");
                    $("#userinfo").remove();
                }
            });*@
        });
    </script>
}

@section styles
    {
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
}