@model IEnumerable<SWProject.Models.DomainModel.Doubt>

@{
    ViewBag.Title = "Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="rtop" id="rrtop"></div>
<div class="ltop" id="lltop"></div>
<div class="mtop col-8" id="mmtop"></div>
<div id="contentcolumns" class="col-12 col-lg-12">
    <div class="col-12 col-lg-1" style="margin-top:0;" id="rrtop2">
        <div class="col-lg-12 col-md-12 col-sm-12" id="rihgtbordered"></div>
    </div>
    <div class="col-12 col-lg-10" id="mmtop2">
        <div class="col-lg-12 col-md-12 col-sm-12 col-centered" style="padding:50px;" id="middleColumn">
            <div class="main-content-wrapper section-padding-100" style="margin-top:300px;">
                <div class="container">
                    <div class="row justify-content-center">
                        <!-- ============= Post Content Area Start ============= -->
                        <div class="col-12 col-lg-12 col-md-10 col-sm-12" style="text-align:right;">
                            <div class="post-content-area mb-100">
                                <!-- Catagory Area -->
                                <div class="world-catagory-area">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="title" style="right:0;position:absolute;margin-right:50px;">پرسش و پاسخ</li>
                                        <li class="nav-item">
                                            <a class="nav-link active" id="tab1" data-toggle="tab" href="#world-tab-1" role="tab" aria-controls="world-tab-1" aria-selected="true">همه</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="world-tab-1" role="tabpanel" aria-labelledby="tab1">
                                            <!-- Single Blog Post -->
                                            @foreach (var fov in Model)
                                            {
                                                <div class="col col-md-12" style="text-align:right;float:right;">
                                                    <div class="single-blog-post post-style-4 d-flex align-items-center mmedia">
                                                        <!-- Post Thumbnail -->
                                                        <!-- Post Content -->
                                                        <div class="post-content" style="text-align:right;word-wrap:break-word;">

                                                            <a style="text-align:right;word-wrap:break-word;" href="~/QuestionDetail?title=@fov.Title" class="headline">
                                                                <h5>@fov.Title</h5>
                                                            </a>
                                                            <p style="text-align:right;word-wrap:break-word;">@fov.Question</p>
                                                            <!-- Post Meta -->
                                                            <div class="post-meta">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            }

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ========== Sidebar Area ========== -->
                        @*<div class="col-12 col-md-8 col-lg-4">
                        <div class="post-sidebar-area wow fadeInUpBig" data-wow-delay="0.2s">
                            <!-- Widget Area -->
                            <!-- Widget Area -->
                            <div class="sidebar-widget-area">
                                <h5 class="title">دسته بندی</h5>
                                <div class="widget-content">
                                    @foreach (var item2 in Model.Categories)
                                    {

                                        <div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
                                            <!-- Post Thumbnail -->
                                            <div class="post-thumbnail">
                                                <img src="@Url.Content("~/Content/FrontTemplate/img/blog-img/b12.jpg")" alt="">
                                            </div>
                                            <!-- Post Content -->
                                            <div class="post-content">
                                                <a href="@Url.Action("categories","Home",new { Category = item2.Title })" class="headline">
                                                    <h5 class="mb-0">@item2.Title</h5>
                                                </a>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                            <!-- Widget Area -->
                            <div class="sidebar-widget-area">
                                <h5 class="title">با ما همراه باشید</h5>
                                <div class="widget-content">
                                    <div class="social-area d-flex justify-content-between">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-vimeo"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa fa-google"></i></a>

                                    </div>
                                </div>
                            </div>
                            <!-- Widget Area -->
                        </div>
                    </div>*@

                    </div>

                    <!-- Load More btn -->
                    <div class="row">
                        <div class="col-12">
                            <div class="load-more-btn mt-50 text-center">
                                <a href="#" id="more" class="btn world-btn">بیشتر</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-12 col-lg-1" id="lltop2">
        <div class="col-lg-12 col-md-12 col-sm-12" id="leftbordered"></div>
    </div>

</div>


        @section scripts
    {
            <script>
                $(function () {
                    $(".navbar-nav li").removeClass("active");
                    $("#liquestion").addClass("active");
                    $("#more").click(function (e) {

                        e.preventDefault();
                        var count = 0;
                        count = $(".mmedia").length;
                        var cate = $("#pagetitle").val();
                        $.ajax(
                        {
                            url: '@Url.Action("MoreQuestion","Home")',
                            type: 'post',
                            datatype: 'json',
                            data: { Current: count, Category: cate },
                            success: function (result) {
                                $("#world-tab-1").append(result);
                                var middleh = $("#middleColumn").height() + 325;
                                $("#rsticked").css('height', middleh);
                                $("#lsticked").css('height', middleh);
                                //var middleh = $("#middleColumn").height() + 300;
                                //$("#rsticked").css('height', middleh);
                                //$("#lsticked").css('height', middleh);
                                //$("#mlsticked").css('height', middleh);
                                //$("#mrsticked").css('height', middleh);
                                //$("#footy").css('margin-top', middleh);

                                //if (screen.width >= 320 && screen.width < 992) {
                                //    $("#rihgtbordered").insertAfter("#centerpeice");
                                //    $("#leftbordered").insertAfter("#centerpeice");
                                //    $("#middleColumn").insertAfter("#centerpeice");
                                //    var mheight = $("#middleColumn").height();
                                //    var rheight = $("#rihgtbordered").height();
                                //    var lheight = $("#leftbordered").height();
                                //    var theight = mheight + rheight + lheight + 335;
                                //    $("#footy").css('margin-top', 0);
                                //    $("#rsticked").css('height', theight);
                                //    $("#lsticked").css('height', theight);
                                //}
                                //if (screen.width >= 992 && screen.width < 1080) {
                                //    $("#rihgtbordered").insertAfter("#centerpeice");
                                //    $("#leftbordered").insertAfter("#centerpeice");
                                //    $("#middleColumn").insertAfter("#centerpeice");
                                //    var mheight = $("#middleColumn").height();
                                //    var rheight = $("#rihgtbordered").height();
                                //    var lheight = $("#leftbordered").height();
                                //    var theight = mheight + rheight + lheight + 400;
                                //    $("#footy").css('margin-top', 0);
                                //    $("#rsticked").css('height', theight);
                                //    $("#lsticked").css('height', theight);
                                //}
                                //$(window).resize(function () {
                                //    if (window.innerWidth >= 1080) {
                                //        var mheight = $("#middleColumn").height() + 300;
                                //        $("#rsticked").css('height', mheight);
                                //        $("#lsticked").css('height', mheight);
                                //        $("#mlsticked").css('height', mheight);
                                //        $("#mrsticked").css('height', mheight);
                                //        $("#footy").css('margin-top', mheight);
                                //        var noderight = $("#rihgtbordered");
                                //        $("#rihgtbordered").remove();
                                //        $("#rrtop").append(noderight);
                                //        var noderight = $("#leftbordered");
                                //        $("#leftbordered").remove();
                                //        $("#lltop").append(noderight);
                                //        var noderight = $("#middleColumn");
                                //        $("#middleColumn").remove();
                                //        $("#mmtop").append(noderight);

                                //    }
                                //    if (window.innerWidth >= 320 && window.innerWidth < 992) {
                                //        $("#rihgtbordered").insertAfter("#centerpeice");
                                //        $("#leftbordered").insertAfter("#centerpeice");
                                //        $("#middleColumn").insertAfter("#centerpeice");
                                //        var mheight = $("#middleColumn").height();
                                //        var rheight = $("#rihgtbordered").height();
                                //        var lheight = $("#leftbordered").height();
                                //        var theight = mheight + rheight + lheight + 335;
                                //        $("#footy").css('margin-top', 0);
                                //        $("#rsticked").css('height', theight);
                                //        $("#lsticked").css('height', theight);
                                //    }
                                //    if (window.innerWidth >= 992 && window.innerWidth < 1080) {
                                //        $("#rihgtbordered").insertAfter("#centerpeice");
                                //        $("#leftbordered").insertAfter("#centerpeice");
                                //        $("#middleColumn").insertAfter("#centerpeice");
                                //        var mheight = $("#middleColumn").height();
                                //        var rheight = $("#rihgtbordered").height();
                                //        var lheight = $("#leftbordered").height();
                                //        var theight = mheight + rheight + lheight + 400;
                                //        $("#footy").css('margin-top', 0);
                                //        $("#rsticked").css('height', theight);
                                //        $("#lsticked").css('height', theight);
                                //    }
                                //});
                            },
                            error: function () {
                                alert("error");
                            }

                        });
                    });
                });
            </script>
        }

        <!-- ***** Footer Area End ***** -->
        <!-- jQuery (Necessary for All JavaScript Plugins) -->
        <script src="js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="js/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Plugins js -->
        <script src="js/plugins.js"></script>
        <!-- Active js -->
        <script src="js/active.js"></script>


        @section styles
    {
            <meta name="description" content="" /> <!--fill this-->
            <meta name="keywords" content="" /> <!--fill this-->
        }
